<!DOCTYPE html>
<html>    
<head>    
    <meta charset="utf-8">    
    <title>UOS Hackathon 2022</title>   
    <style>
        body {background-color: #fff1e5;}
        p    {color: green;}
        </style>
        <!-- my css -->
    <link rel="stylesheet" href="main.css"> 
</head>    

<body

    <h1 align="center">    
        <font color="#F0B27A" size="9" >    
            UOS Hackathon 2022<br/>    
    </font>    
    Add your custom web page to this repository!     
    </h1>    
    <h3 align="center">    
        <font face="Lato" color="red" size="3">    
            The website is running on Python Flask!    
        </font>   
    <p>This text is green</p> 
    <br /><br /><br /><br /><br /><br/><br/><br/><br/>    
    <hr width="1500px">    
    <a href="C:\Users\edvin\Documents\GitHub\UOS_Website_Project\src\templates\mypage.html">
        <h1>Press me for other page</h1>
    </a>
 
</body>    
</html>    